/*
  CSS - PDF Browser
*/
/* div#main {
  overflow: hidden;
}

body {
  overflow: hidden;
} */

nav#navbar-top{
  display: none;
}

div#menu-container,
div#pdf-container {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.accordion-button.collapsed::after {
  filter: brightness(500%);;
}

body {
  background-color: #031d3c;
}

h1.title.text-uppercase.text-warning.d-none.d-md-block {
  padding-top: 0px;
}

.site-footer {
  display: none;
}

section.section.pb-5 {
  padding-bottom: 0px !important;
}

button.btn.btn-expand-menu {
  position: fixed;
  z-index: 200;
  background: #3c5779;
  display: inline-block;
  float: none;
  left: 25%;
  top: 50%;
}

#menu-container, button.btn.btn-expand-menu{
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;  
}

.collapse-column {
  flex-grow: 0!important;
  padding-left: 0!important;
  padding-right: 0!important;
  width: 0px !important;
}

button.btn.btn-expand-menu.collapseActivated {
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  left: 0%;
}