{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
{{ attach_library( 'akp_pdf_browser/akp_pdf_browser' ) }}

{% if is_admin %}
  {% set heightclass = 'screen-vh-admin' %}
{% else %}
  {% set heightclass = 'screen-vh' %}
{% endif %}
<div id="main" class="container-fluid">
  {{ page.breadcrumb }}
  <div class="progress m-0 pdf-progress-bar">
    <div class="progress-bar progress-bar-striped bg-success  progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="row">
    <div id="menu-container" class="col col-lg-3 p-3 {{ heightclass }}">
      <button type="button" class="btn btn-expand-menu btn-outline-secondary rounded-0" data-bs-toggle="tooltip" aria-label="Collapse/Expand Menu" data-bs-original-title="Collapse/Expand Menu">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div class="accordion text-nowrap" id="pdfBrowserAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTitle" aria-expanded="true" aria-controls="collapseTitle">
              Protected Area Atlas
            </button>
          </h2>
          <div id="collapseTitle" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <div class="d-grid gap-2">
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/0">0. Front matter</button>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button text-wrap" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              PART 1: Research support to African Protected Areas
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <div class="d-grid gap-2">
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/1.1">1.1 The changing roles of African protected areas for people and nature</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/1.2">1.2 Methodological approaches to understanding protected area dynamics</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/1.3">1.3 Navigating continent-wide geospatial data</button>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button text-wrap" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              PART 2: The “when”, “where”, “what”, “why”, and “who” of African protected areas
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <div class="d-grid gap-2">
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/2.1">2.1 ““When” and “where” – the expansion of protected areas</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/2.2">2.2 “What” – the ecological representation of protected areas</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/2.3">2.3 “Why” – the underlying reasons of different protected areas</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/2.4">2.4 “Who” – the variable governance of protected areas</button>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button text-wrap" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              PART 3: Protected areas as life-support systems
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <div class="d-grid gap-2">
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/3.1">3.1 Protected areas and climate change</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/3.2">3.2 Protected areas and freshwater</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/3.3">3.3 Protected areas and the biodiversity economy</button>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button text-wrap" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              PART 4: Protected areas under pressure
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <div class="d-grid gap-2">
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/4.1">4.1 Pressure from people, crops and livestock</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/4.2">4.2 Development pressure from extraction or infrastructure</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/4.3">4.3 Pressures from global environmental change</button>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button text-wrap" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              PART 5: A future for African protected areas
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <div class="d-grid gap-2">
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/5.1">5.1 No more paper parks: improving protected area effectiveness</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/5.2">5.2 Bending the curve of biodiversity loss: the need for restoration</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/5.3">5.3 People and nature beyond the boundaries of protected areas</button>
                <button class="btn btn-primary text-wrap text-start" type="button" href="/atlas/5.4">5.4 An African information network for protected and conserved areas</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pdf-container" class="col p-3">
      <div id="pdf-document-section" class="p-0">
        <div class="h1 text-center pt-5">
          Select a Chapter to get started, or download the full report <a href="/sites/default/files/atlas/Full Atlas of African protected Areas.pdf" download>here</a>.
        </div>
      </div>
    </div>
  </div>
</div>